html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.sidebar{
    padding-left: 5%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 30%;
    background-color: #21457f;
    color: white;
    display: flex;
    align-items: center;
}
.sidebar .title{
    margin: 0;
    padding: 0;
    font-variant-caps: all-small-caps;
    line-height: 1em;
    font-weight: 500;
}
.sidebar .subtitle{
    color: #c4c4c4;
    margin: 0 0 25px;
    padding: 0;
}
.sidebar a.button{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    margin-right:10px;
    color: white;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    font-size: 0.8em;
}
.sidebar a.button:hover{
    background-color: white;
    color: #21457f;
}
.content{
    padding: 0;
    margin-left: 35%;
    width: 65%;
    height: 100%;
}
.content .posts{
    padding: 2% 3% 0 3%;
}
.posts h1{
    color: #c4c4c4;
    font-size: 1.75em;
    border-bottom: 1px solid;
}
.posts article{
    padding: 25px;
    color: #21457f;
    cursor: pointer;
}
.posts article:nth-child(odd){
    color: white;
    background-color: #c4c4c4;
}
.posts .article-content{
    font-size: 1.1em;
    border: none;
    color: inherit;
}
.posts .metadata{
    color: #c4c4c4;
    font-size: 0.6em;
    margin-right: 10px;
    float: right;
    margin-top: 20px;
}
.posts article:nth-child(odd) .metadata{
    color: white;
}
.posts header{
    display: table;
    width: 100%;
}

.posts .metadata a{
    color: #21457f;
}
.posts .article-title{
    font-size: 1.1em;
    border: none;
    color: inherit;
    float:left;
}
.posts .avatar{
    float: right;
    width: 67px;
    height: 48px;
    border-radius: 60px;
    margin-top: 4px;
}

.posts .article-content{
    margin-top: 20px;
}

footer{
    margin-top: 5%;
    margin-left: 35%;
    width: 65%;
    display: table;
    top: 50px;
    position: relative;
}
footer ul{
    list-style: none;
    padding-left: 5%;
    text-align: center;
}

footer ul li{
    text-align: center;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}
footer ul li a{
    color: #c4c4c4;    
    text-decoration: none;
    font-size: 0.8em;
    margin: 0 1em;
}
@media only screen and (max-width: 768px){
    .sidebar{
        width: 100%;
        position: static;
        flex-direction: column;
        padding: 0;
    }
    .sidebar nav{
        margin: 10px 0;
        text-align: center;
    }
    .content{
        width: 100%;
        position: static;
        margin-left: 0;
    }
    footer{
        width: 100%;
        position: static;
        margin-left: 0;
    }
}

@media only screen and (max-width: 480px){
    .subtitle{
        display: none;
    }

    html{
        font-size: 16px;
    }
    .metadata{
        display: none;
    }
}
@media only screen and (min-width: 1200px){
    .sidebar{
        width: 20%;
    }
    .content{
        margin-left: 25%;
        width: 75%;
    }
    footer{
        margin-left: 25%;
        width: 75%;
    }
}
