<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/dist/normalize.min.css" />
    <link rel="stylesheet" href="/dist/my.min.css" />
    <title>
        {% if page.title %} {{ page.title }} {% endif %} {{ site.name }}
    </title>
</head>

<body>
        <div class="sidebar">
            <div>
                <h1 class="title">Diedrik Explains</h1>
                <h2 class="subtitle">Let's talk about programming...</h2>
                <nav>
                <a href="/" class="button">Home</a><a href="/allposts.html" class="button">All Posts</a>
                </nav>
            </div>
        </div>
        <main class="content">
            {% if page.overview %} {{content}}
            {% else %} {% include main.html %}
            {% endif %}
        </main>
        <footer>
            <ul>
                <li><a href="/about.html">About</a></li>
                <li><a href="https://twitter.com/DiedrikDM">Twitter</a></li>
                <li><a href="https://github.com/DiedrikDM">Github</a></li>
            </ul>
        </footer>
</body>
</html>